services:
  discord-bot:
    build: .
    container_name: discord-bot
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN=
      - USER_ID=
      - PREFIX=-
      - COOLDOWN_MEDIA=60
    logging:
      driver: "json-file"
      options:
        max-size: "5mb"
        max-file: "1"
